/* VARIABLES */

/* // COLORS */

:root {
  /* // ### Primary */
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);

  /* // ### Neutral */
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* GLOBAL STYLES */
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  color: var(--grayishBlue);
  line-height: 1.4;
  font-weight: 300;
  font-size: 1rem;
}

/* FLEXBOX STYLES */
.flex {
  display: flex;
}

/*  Justify content- space-between */
.jc-sb {
  justify-content: space-between;
}

/* Justify content- center  */
.jc-c {
  justify-content: center;
}
/* Justify content- center  */
.jc-fle {
  justify-content: flex-end;
}

/* // Align-items-center */
.ai-c {
  align-items: center;
}

/*  HEADER  */

.header {
  margin: 24px;
}
.header a {
  text-decoration: none;
  margin: 0.5rem;
  font-size: 0.875rem;
  color: var(--grayishBlue);
}
.nav-link {
  list-style-type: none;
}
/* .nav-links {
  margin: 2.5rem;
  padding: 2.5rem;
} */
.toggle-bars {
  color: darkBlue;
  margin: 0.5rem;
}
.nav-btn {
  padding: 1rem 1.875rem;
  border-radius: 50px;
  cursor: pointer;
  background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
  color: var(--white);
  font-weight: 400;
}
